@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.page-header {
    position: absolute;
    width: 94vw;
    z-index: 1;
    padding: 2vh 3vw;
    background-color: rgba(51, 57, 64, .5);
    display: flex;
    justify-content: space-between;

    &__navigation {
        display: flex;
        gap: 4vw;

        &-logo {
            height: 3vh;
        }

        &-links {
            padding-top: .7vh;
            width: 25vw;
            display: flex;
            justify-content: space-between;
        }

        &-link {
            font-size: 1.1rem;
            color: $white;
            text-decoration: none;
        }
    }

    &__login {
        &-icon {
            height: 3vh;
        }
    }
}