@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.about-us {
    background-color: $dark-grey;
    height: 100vh;
    padding-bottom: 30vh;

    &__hero {


        &-image {
            width: 100vw;
        }
    }

    &__intro {
        width: 90vw;
        @include centered;

        &-title {
            
        }
    }

    &__mission {
        width: 90vw;
        @include centered;
    }
}