@use '../../styles/partials/colors' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.projects-page {
    background-color: $light-grey;

    &__hero {

        &-img {
            width: 100vw;
        }
    }

    &__guide {
        width: 90vw;
        @include centered;
    }

    &__links {
        margin-top: 5vh;
        width: 80vw;
        @include centered;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2vh;
        padding-bottom: 5vh;
    }
}